// https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/
.expanding-textarea {
    @apply grid w-full;
}

.expanding-textarea > [data-proxy] {
    /* Note the weird space! Needed to preventy jumpy behavior */
    // content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.expanding-textarea > textarea {
    resize: none;
    overflow: hidden;
}

.expanding-textarea > textarea,
.expanding-textarea > [data-proxy] {
    @apply border border-neutral-500 p-2 w-full;
    grid-area: 1 / 1 / 2 / 2;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
}