.ruler-bg {
    --background: theme('colors.neutral.100');
    --tick-minor: theme('colors.neutral.400');
    --tick-major: theme('colors.neutral.600');

    .dark & {
        --background: theme('colors.neutral.600');
        --tick-minor: theme('colors.neutral.500');
        --tick-major: theme('colors.neutral.100');
    }

    background-size: 50px 22px;
    background-repeat: repeat-x;
    background-color: var(--background);
    background-image:
        linear-gradient(90deg,
            var(--tick-major) 0,
            var(--tick-major) 2%,
            transparent 2%
        ),
        linear-gradient(180deg,
            var(--background) 50%,
            transparent 50%
        ),
        linear-gradient(90deg,
            transparent 50%,
            var(--tick-major) 50%,
            var(--tick-major) 52%,
            transparent 52%
        ),
        linear-gradient(180deg,
            var(--background) 70%,
            transparent 70%
        ),
        linear-gradient(90deg,
            transparent 10%,
            var(--tick-minor) 10%,
            var(--tick-minor) 12%,
            transparent 12%,

            transparent 20%,
            var(--tick-minor) 20%,
            var(--tick-minor) 22%,
            transparent 22%,

            transparent 30%,
            var(--tick-minor) 30%,
            var(--tick-minor) 32%,
            transparent 32%,

            transparent 40%,
            var(--tick-minor) 40%,
            var(--tick-minor) 42%,
            transparent 42%,

            transparent 60%,
            var(--tick-minor) 60%,
            var(--tick-minor) 62%,
            transparent 62%,

            transparent 70%,
            var(--tick-minor) 70%,
            var(--tick-minor) 72%,
            transparent 72%,

            transparent 80%,
            var(--tick-minor) 80%,
            var(--tick-minor) 82%,
            transparent 82%,

            transparent 90%,
            var(--tick-minor) 90%,
            var(--tick-minor) 92%,
            transparent 92%
        );
}

.ruler-mark-global {
    background-image: repeating-linear-gradient(
        transparent 0px,
        transparent 2px,
        theme('colors.red.500') 2px,
        theme('colors.red.500') 4px
    );
}

.ruler-mark-local {
    background-image: repeating-linear-gradient(
        transparent 0px,
        transparent 2px,
        theme('colors.blue.500') 2px,
        theme('colors.blue.500') 4px
    );
}

@layer components {
    .ruler-number {
        @apply w-[100px] pt-[1px] shrink-0 text-[10px] indent-1 leading-none text-neutral-600 dark:text-neutral-200 pointer-events-none select-none;
    }
}
