---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

article.splash {
	section {
		margin: 0 auto;
		max-width: 60ch;
	}
}

.screenshot {
	max-width: 100%;

	img {
		width: auto;
		height: auto;
		margin: 0;
		box-shadow: 0 0 2rem rgba(3, 3, 3, 0.3);
	}

	&.breakout {
		@include breakpoint($large) {
			margin: 0 -10%;
			max-width: 120%;
		}
	}
}