---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

article.splash {
	section {
		margin: 0 auto;
		max-width: 60ch;
	}
}

.masthead {
	z-index: 0;
}

.page__hero {
	&--overlay {
		padding: 1.5rem 0;

		.wrapper {
			display: grid;
			grid-template-columns: 1fr;

			@include breakpoint($small) {
				grid-template-columns: 1fr minmax(0, 1fr);
			}
		}
	}

	&-image {
		display: none;
		border-radius: 3px;
		box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);

		@include breakpoint($large) {
			margin: -2rem 0;
		}

		@include breakpoint($small) {
			display: block;
		}
	}
}

.page__lead {
	text-wrap: balance;
}

.screenshot {
	display: flex;
	justify-content: center;
	margin: 1.3rem 0;
	max-width: 100%;

	img {
		width: auto;
		height: auto;
		margin: 0;
		box-shadow: 0 0 2rem rgba(3, 3, 3, 0.3);
	}

	&.breakout {
		@include breakpoint($large) {
			margin-left: -10%;
			margin-right: -10%;
			max-width: 120%;
		}
	}
}

.checks  {
	list-style: none;

	> * {
		display: flex;

		&:before {
			content: '✅';
			display: inline-block;
			margin-right: .5rem;
		}
	}
}

.page__content .next {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-top: 1px solid #baaa92;
	margin-top: 2rem;
	padding-top: 1rem;

	svg {
		margin-left: .25rem;
		height: 20px;
	}

	.next-heading {
		font-weight: 600;
		margin-right: .5rem;
	}
}

.highlighter-rouge.language-shell {
	.rouge-code pre::before {
		content: '$ ';
		color: #cc6666;
	}
}